h1 {
    padding-top: 30px;
    font-size: 72px;
}

h2 {
    font-size: 46px;
}

.landing-buttons {
    margin-top: 40px;
}

.bottom {
    margin-bottom: 100px;
}

.card-container {
    margin-top: 50px;
}

.fa {
    font-size: 66px;
    padding-top: 50px;
    color: #3f51b5;
}

.card {
    min-height: 325px;
    margin-bottom: 20px;
}