
<div class="center-block">
  <h1 class="text-center">Musicoll.</h1>
  <h3 class="text-center">Record and save your ideas right on the web.</h3>

  <div class="landing-buttons text-center">
    <button class="btn btn-default center-block" routerLink="/signin">Sign In</button>
    <button class="btn btn-primary center-block" routerLink="/signup">Sign Up</button>
  </div>

  <h3 class="text-center" style="margin-top: 40px; margin-bottom: 40px"><a routerLink="/projects">Click Here to Demo</a></h3>
</div>

<div class="container card-container">
  <div class="row bottom">
    <div class="col-sm">

<div class="card card-cascade narrower">
      <div class="view overlay hm-white-slight text-center">
            <i class="fa fa-microphone" aria-hidden="true"></i>
      </div>


      <div class="card-body">
          <h4 class="card-title text-center">Record directly from the browser.</h4>
          <p class="card-text">Use your computer's microphone and browser to record and save musical ideas instantly.</p>
      </div>

  
  </div>

  
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="view overlay hm-white-slight text-center">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>

        </div>
        <div class="card-body">
            <h4 class="card-title text-center">Quickly prototype songs.</h4>
            <p class="card-text">No need for recording software or hardware. Record and save your ideas, variations, lyrics and notes with the click of a button.</p>
        </div>
    </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="view overlay hm-white-slight text-center">
                <i class="fa fa-upload" aria-hidden="true"></i>

        </div>
        <div class="card-body">
            <h4 class="card-title text-center">Access from anywhere.</h4>
            <p class="card-text">Listen to your recordings and modify your lyrics anywhere with an internet connection.</p>
        </div>
    </div>
    </div>
  </div>
</div>


