
<div class="center-block">
  <h1 class="text-center">Musicoll.</h1>
  <h3 class="text-center">Record and save your ideas right on the web.</h3>

  <div class="landing-buttons text-center">
    <button class="btn btn-default center-block" routerLink="/signin">Sign In</button>
    <button class="btn btn-primary center-block" routerLink="/signup">Sign Up</button>
  </div>

  <h3 class="text-center" style="margin-top: 40px; margin-bottom: 40px"><a routerLink="/projects">Click Here to Demo</a></h3>
</div>

<div class="container">
  <div class="row bottom">
    <div class="col-sm">

<div class="card card-cascade narrower">
      <div class="view overlay hm-white-slight">
          <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" class="img-fluid" alt="">
          <a>
              <div class="mask"></div>
          </a>
      </div>


      <div class="card-body">
          <h5 class="pink-text"><i class="fa fa-cutlery"></i> Culinary</h5>
          <h4 class="card-title">All of your musical ideas in one place.</h4>
          <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
      </div>

  
  </div>

  
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="view overlay hm-white-slight">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
            <a href="#">
                <div class="mask"></div>
            </a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Button</a>
        </div>
    </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="view overlay hm-white-slight">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%287%29.jpg" class="img-fluid" alt="">
            <a href="#">
                <div class="mask"></div>
            </a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Invite friends to collaborate.</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Button</a>
        </div>
    </div>
    </div>
  </div>
</div>

<hr>

<div class="container about">
    <div class="row">
      <div class="col-sm">
        <h3>About Musicoll</h3>
        <p>Musicoll is a web app that caters to musicians to quickly prototype musical ideas, lyrics, and notes. It is not meant to replace traditional means of recording, but rather be a place to quickly ‘jot’ down ideas and store them in a central place. </p>
        <h3>Problem & Solution</h3>
        <p>Many times I have had a cool riff or rhythm I’ve come up with and do not want to take the time to setup my computer, recording software and mic. I often found myself trying to quickly get my ideas stored somewhere by using my phone’s voice recorder, but this would lack any sort of structure or organization. Furthermore, I longed for a system that also allowed me to write down lyrics and notes to accompany the musical ideas. So, I created this web app. </p>
        <hr>
        <h2>F.A.Q.</h2>
            <b>Is Musicoll meant to replace traditional ways of recording?</b>
            <p>No, because of limitations with browser technology, we cannot yet reach professional levels of audio recording. Musicoll is directed towards allowing users to quickly and easily record ideas and store them in a central place. </p>
            <b>Are my recordings private and secure?</b>
            <p>Yes, recordings are stored in the cloud via Amazon Web Services. No one will have access except you.</p>
            <b>Can I upload recordings instead of recording in the browser?</b>
            <p>This feature is coming soon.</p>
            <b>What if I have feedback or find a bug?</b>
            <p>Please email me musicollapp@gmail.com</p>
      </div>
    </div>
</div>