.jumbotron {
    margin-top: 50px;
    transition: .5s;
}

.spinner-container {
    position: relative;
}

.spinner {
    font-size: 76px;
    color: #4E7BEE;
    top: 150px;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;
    z-index: 3;
}

.edit-title {
    color: #4E7BEE;
    font-size: 20px;
    padding-left: 10px;
    transition: .25s;
}

.edit-title:hover {
    color: #4E7BEE;
    cursor: pointer;
}

input {
    text-align: center;
    font-size: 36px;
    font-weight: 400 !important;
 }