<div class="toolbar animated slideInRight">
    <div class="inline-block">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Export PDF
    </div>
    <div class="inline-block">
        <i class="fa fa-address-book-o" aria-hidden="true"></i> Invite
    </div>
    <div class="inline-block">
        <i class="fa fa-trash" aria-hidden="true"></i> Delete Project
    </div>
</div>

 
<div class="spinner-container">
        <i class="fa fa-spinner fa-spin spinner text-center" *ngIf="loading" aria-hidden="true"></i>
</div>

<div *ngIf="!loading">
    <div class="jumbotron">

        <!-- Title -->
        <p>Title | <span (click)="edit('title')" class="edit">Edit</span></p>
        <h1 *ngIf="!editingTitle" class="h1-responsive">{{ project.name }}</h1>

        <div *ngIf="editingTitle">
            <div class="md-form">
                <input type="text" id="form1" class="form-control" #title value="{{ project.name }}">
            </div>
            <button class="btn btn-sm btn-primary" (click)="save('title')">Save</button>
            <button class="btn btn-sm btn-danger" (click)="cancel('title')">Cancel</button>
        </div>
        <hr>

        <!-- Lyrics -->
        <p>Lyrics | <span (click)="edit('lyrics')" class="edit">Expand</span> | <span (click)="edit('lyrics')" class="edit">Edit</span></p>
        
        <div *ngIf="editingLyrics">
            <div class="md-form">
                <textarea type="text" class="md-textarea lyrics lyrics-edit" #lyrics autosize>{{ project.lyrics }}</textarea>
            </div>
            <button class="btn btn-sm btn-primary" (click)="save('lyrics')">Save</button>
            <button class="btn btn-sm btn-danger" (click)="cancel('lyrics')">Cancel</button>
        </div>

        <div *ngIf="!editingLyrics" class="lyrics">
            {{ project.lyrics }}
        </div>
        <hr>

        <!-- Notes -->
        <p>Notes | <span (click)="edit('notes')" class="edit">Edit</span></p>
        <div *ngIf="editingNotes">
            <div class="md-form">
                <textarea type="text" class="md-textarea notes notes-edit" #notes autosize>{{ project.notes }}</textarea>
            </div>
            <button class="btn btn-sm btn-primary" (click)="save('notes')">Save</button>
            <button class="btn btn-sm btn-danger" (click)="cancel('notes')">Cancel</button>
        </div>
        <div *ngIf="!editingNotes" class="notes">
                {{ project.notes }}
        </div>
    </div>



</div>

<div class="card text-center">
    <div class="card-header primary-color white-text">
        Discussion
    </div>
    <div class="card-body"> 


    </div>
    <div class="card-footer text-muted primary-color white-text">
    </div>
</div>
