<div class="toolbar animated slideInRight">
    <div class="inline-block">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <span class="option">Export PDF</span>
    </div>
    <div class="inline-block">
        <i class="fa fa-address-book-o" aria-hidden="true"></i>
        <span class="option">Invite</span>
    </div>
    <div class="inline-block" (click)="delete()">
        <i class="fa fa-trash" aria-hidden="true"></i>
        <span class="option">Delete Project</span>
    </div>
</div>

<!-- 
<div class="app-modal">
  Hello
</div> -->