
<div class="jumbotron animated slideInDown">
  <h1 class="h1-responsive">Hello, Ryan!</h1>
  <p class="lead">Please select a project from the list or start a new one.</p>
  <hr class="my-2">
  <p>Invite friends to collaborate on projects with you where they can help write, upload audio files and leave comments for discussion.
  </p>
  <a class="btn btn-danger btn-lg" role="button">Send Invite</a>
</div>

<hr>
<h2>Recording Area Test</h2>
<hr>

<div class="col-xs-12">
  <button md-raised-button color="primary" (click)="startRecording()"> Record </button>
  <button md-raised-button color="primary"(click) ="stopRecording()"> Stop</button>
  <button md-raised-button color="primary" (click)="saveRecording()"> Download</button>
</div>

<audio #audio controls>
Your browser does not support the audio element.
</audio>