
<div class="row text-center"> 
    <div class="col-md-3 sidebar">
      <h3>Project List</h3>
      <button class="btn btn-primary">New Project</button>
      <div class="md-form form-sm">
          <input type="text" id="form1" class="form-control" placeholder="Search" [(ngModel)]="filteredProject">
      </div>
 
      <div class="list-group" *ngFor="let project of projects | search:filteredProject">
          <a [routerLink]="[project._id]" routerLinkActive="active" class="list-group-item list-group-item-action">{{ project.name | shorten }}</a>
      </div>

      <app-song-list></app-song-list>
    </div>
    <div class="col-md-9 text-center">
        <router-outlet></router-outlet>
    </div>
  </div>