
<div class="row text-center"> 
    <div class="col-md-3 sidebar">
      <h3>Project List</h3>
      <button class="btn btn-primary">New Project</button>
      <div class="md-form form-sm">
          <input type="text" id="form1" class="form-control" placeholder="Search">
      </div>
      <div class="list-group">
          <a href="#" class="list-group-item active">Cras justo odio</a>
          <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
          <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
          <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
          <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
          <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
          <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
          <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>


      </div>
      <app-song-list></app-song-list>
    </div>
    <div class="col-md-9 text-center">
      <h3>Playground</h3>
    </div>
  </div>