
<div class="row text-center"> 
    <div class="col-md-3 sidebar">
      <h3>Project List</h3>
      <button class="btn btn-primary">New Project</button>
      <div class="md-form form-sm">
          <input type="text" id="form1" class="form-control" placeholder="Search">
      </div>
      <div class="list-group">
          <a href="#" class="list-group-item active">Cras justo odio</a>
          <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
          <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
          <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
          <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
          <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
          <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
          <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>


      </div>
      <app-song-list></app-song-list>
    </div>
    <div class="col-md-9 text-center">
      <h3>Playground</h3>


      <div class="jumbotron">
          <h1 class="h1-responsive">Hello, world!</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
              to featured content or information.</p>
          <hr class="my-2">
          <p>It uses utility classes for typography and spacing to space content out within the larger
              container.
          </p>
          <a class="btn btn-primary btn-lg" role="button">Learn more</a>
      </div>

            <!--Panel-->
      <div class="card">
          <div class="card-header deep-orange lighten-1 white-text">
              Featured
          </div>
          <div class="card-body">
              <h4 class="card-title">Special title treatment</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a class="btn btn-deep-orange">Go somewhere</a>
          </div>
      </div>
<!--/.Panel-->

      <button class="btn btn-primary toolbar">Export PDF | Word Search | Invite | Delete</button>
    </div>
  </div>