<div class="row justify-content-md-center">
<div class="col-md-4">
<form>
    <p class="h5 text-center mb-4">Sign up</p>

    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="orangeForm-name" class="form-control" placeholder="Name">
    </div>
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="orangeForm-email" class="form-control" placeholder="Email">
    </div>

    <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="orangeForm-pass" class="form-control" placeholder="Password">
    </div>

    <div class="text-center">
        <button class="btn btn-deep-orange">Sign up</button>
    </div>

</form>
</div>
</div>
