
<button class="btn btn-success">Start Recording <i class="fa fa-microphone" aria-hidden="true"></i></button>
<!-- <button class="btn btn-success">Stop Recording <i class="fa fa-microphone-slash" aria-hidden="true"></i></button> -->


<!-- <div class="col-xs-12">
  <button md-raised-button color="primary" (click)="startRecording()"> Record </button>
  <button md-raised-button color="primary" (click)="stopRecording()"> Stop</button>
  <button md-raised-button color="primary"  (click)="saveRecording()" id="save"> Download</button>
</div>

<audio #audio controls>
Your browser does not support the audio element.
</audio> -->